<app-header 
  [title]="title" 
  [subtitle]="subtitle">
</app-header>

<p-tabView>
  <p-tabPanel [header]="'project.tab.setting.general' | translate" >
    <setting-general>
    </setting-general>
  </p-tabPanel>
  <p-tabPanel [header]="'project.tab.setting.customer' | translate">
    <setting-customer>
    </setting-customer>
  </p-tabPanel>
  <!-- <p-tabPanel [header]="'project.tab.setting.position' | translate">
    <setting-position>
    </setting-position>
  </p-tabPanel> -->
  <p-tabPanel [header]="'project.tab.setting.privacy' | translate">
    <setting-privacy>
    </setting-privacy>
  </p-tabPanel>
</p-tabView>