<div class="content-height-with-padding w-full surface-section border-1 surface-border border-round shadow-1 p-3">
  @switch (currentTabIndex) {
    @case (0) {
      <workspace-content-project>
      </workspace-content-project>
    }
    @case (1) {
      <workspace-content-join>
      </workspace-content-join>
    }
    @case (2) {
      <workspace-manage-project>
      </workspace-manage-project>
    }
    @case (3) {
      <workspace-manage-user>
      </workspace-manage-user>
    }
    @case (4) {
      <feedback-list>
      </feedback-list>
    }
    @default {
      <workspace-content-project>
      </workspace-content-project>
    }
  }
</div>