<app-header 
  [title]="title" 
  [subtitle]="subtitle">
  <div class="flex">
    <app-dialog 
      [icon]="'pi pi-plus'"
      [width]="'60vw'"
      [label]="labelButton"
      [header]="labelHeader"
      [submitLabel]="labelSubmit"
      [submitIcon]="'pi pi-send'"
      (onSubmitEvent)="onValidateForm()">
        <form-feedback-submit>
        </form-feedback-submit>
        <div class="text-500 text-sm">
          {{ labelFormDescription | translate }}
        </div>
    </app-dialog>
  </div>
</app-header>

@if (!listFeedbacks.length) {
  <app-empty 
    [icon]="'pi pi-comments'" 
    [title]="emptyTitle" 
    [description]="emptyDescription">
  </app-empty>
} @else {
  <app-scrolling>
    @for (item of listFeedbacks; track $index) {
      <div class="border-1 surface-border border-round shadow-1 p-3 mb-3 overflow-hidden">
        <div class="flex flex-column">
          <div class="text-bold">
            <span> {{ 'form.feedback.functionText' | translate }} : </span>
            <span> {{ item.function }} </span>
          </div>
          <div class="text-bold">
            <span> {{ 'form.feedback.designText' | translate }} : </span>
            <span> {{ item.design }} </span>
          </div>
          <div class="text-bold">
            <span> {{ 'form.feedback.speedText' | translate }} : </span>
            <span> {{ item.speed }} </span>
          </div>
          <div class="text-bold">
            <span> {{ 'form.feedback.satisfactionText' | translate }} : </span>
            <span> {{ item.satisfaction }} </span>
          </div>
          <div class="-mt-3 custom" [innerHTML]="item.content"></div>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-column">
          <div class="flex justify-content-between">
            <div class="flex flex-column">
              <div class="text-500 text-sm">{{ item.submitter_email }}</div>
              <div class="text-500 text-sm">{{ item.created_at | date:'d MMMM yyyy hh:mm:aa' }}</div>
            </div>
            <button pButton 
              icon="pi pi-trash" 
              (click)="onDeleteFeedback(item.id)"
              class="p-button-text p-button-danger">
            </button>
          </div>
        </div>
      </div>

    }
  </app-scrolling>
}