<div class="border-round shadow-1 p-3 h-full">
  <div class="mt-2">
    {{ 'DASHBOARD_BURN_UP' | translate }}
  </div>
  <p-divider></p-divider>

  <div class="flex justify-content-end">
    <p-select 
      optionLabel="name" 
      optionValue="code"
      placeholder="Select type" 
      [options]="burnType" 
      [(ngModel)]="selectedType"
      (ngModelChange)="onSelectedType()" />
  </div>

  <p-chart 
    [height]="'30rem'"
    type="line" 
    [data]="chartData" 
    [options]="chartOptions"/>
</div>