<div class="overflow-y-auto">
  <ul class="list-none m-0 p-2">
    <li>
      <c-pageItem 
        icon="home" 
        label="หน้าแรก"
        (onSelect)="routeTo('home')">
      </c-pageItem>
    </li>
    
    <ng-container *ngFor="let item of filteredMenus">
      <li>
        <ng-container *ngIf="item.items?.length else cMenuElse">
          <c-pageItem 
            [icon]="item.icon" 
            [label]="item.label"
            (onSelect)="onSelect(item)">
          </c-pageItem>
          <ul
            class="list-none m-0 p-0 pl-3 hidden overflow-y-hidden">
            <ng-container *ngFor="let subItem of item.items">
              <li>
                <c-pageItem 
                  [icon]="item.icon" 
                  [label]="item.label"
                  (onSelect)="onSelect(item)">
                </c-pageItem>
              </li>
            </ng-container>
          </ul>
        </ng-container>
        <ng-template #cMenuElse>
          <c-pageItem 
            [icon]="item.icon" 
            [label]="item.label"
            (onSelect)="onSelect(item)">
          </c-pageItem>
        </ng-template>
      </li>
    </ng-container>
  </ul>
</div>