<div class="h-full border-round shadow-1 p-3">
  <div class="mt-2">
    {{ 'project.dashboard.projectInfo' | translate }}
  </div>
  <p-divider></p-divider>
  <div class="px-3 flex flex-column justify-content-center align-content-center">
    <div class="mb-4">
      <div class="flex">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-user" [style]="{ 'background-color': '#3b82f6', color: '#fff' }" shape="circle" />
        </div>
        <div class="flex justify-content-between ml-2 w-full">
          <div class="flex flex-column">
            <span class="text-500 text-sm">Project Owner</span>
            <span>{{ projectData.owner_name }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <div class="flex">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-building-columns" [style]="{ 'background-color': '#3b82f6', color: '#fff' }" shape="circle" />
        </div>
        <div class="flex justify-content-between ml-2 w-full">
          <div class="flex flex-column">
            <span class="text-500 text-sm">Customer Name</span>
            <span>Ecart Stuido Ltd.</span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid  mb-3">
      <div class="col-4">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-list" styleClass="mr-2" [style]="{ 'background-color': '#3b82f6', color: '#fff' }"
            shape="circle" />
          <div class="flex flex-column">
            <span class="text-500 text-sm">To Do</span>
            <span>10 Tasks</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-step-forward-alt" styleClass="mr-2"
            [style]="{ 'background-color': '#eab308', color: '#fff' }" shape="circle" />
          <div class="flex flex-column">
            <span class="text-500 text-sm">In progress</span>
            <span>10 Tasks</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-check" styleClass="mr-2" [style]="{ 'background-color': '#22c55e', color: '#fff' }"
            shape="circle" />
          <div class="flex flex-column">
            <span class="text-500 text-sm">Done</span>
            <span> Tasks</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>