<div class="m-1">
  <button type="button"
    (click)="overlay.toggle($event)"
    class="p-button-text p-button-rounded text-white"
    icon="pi pi-palette"
    pButton>
  </button>
  <p-overlayPanel #overlay [style]="{ width: '320px' }">
    <div class="mb-2">
      <div class="font-bold">
        Font
      </div>
      <p-dropdown 
        [options]="listFonts"
        [formControl]="fontCtrl"
        styleClass="bg-transparent surface-border w-full"
        appendTo="body">
      </p-dropdown>
    </div>
    <div class="mb-2">
      <div class="font-bold">
        Font Size
      </div>
      <p-dropdown 
        [options]="listFontSizes"
        [formControl]="fontSizeCtrl"
        styleClass="bg-transparent surface-border w-full"
        appendTo="body">
      </p-dropdown>
    </div>
    <div class="mb-2">
      <div class="font-bold">
        Theme
      </div>
      <p-dropdown 
        [options]="listThemes"
        [formControl]="themeCtrl"
        styleClass="bg-transparent surface-border w-full"
        appendTo="body">
      </p-dropdown>
    </div>
    
    <button type="button"
      (click)="save()"
      class="p-button-success p-button-sm w-full m-1"
      label="บันทึก"
      icon="pi pi-style"
      pButton>
    </button>
  </p-overlayPanel>
</div>