<app-header 
  [title]="title" 
  [subtitle]="subtitle">
  <div class="flex">
    <app-dialog 
      [icon]="'pi pi-plus'"
      [width]="'60vw'"
      [label]="labelButton"
      [header]="labelHeader"
      (onCancelEvent)="onCancelForm()"
      (onSubmitEvent)="onValidateForm()">
        <form-sprint>
        </form-sprint>
    </app-dialog>
  </div>
</app-header>

@if (!listSprint.length) {
  <app-empty 
    [icon]="'pi pi-sync'" 
    [title]="emptyTitle" 
    [description]="emptyDescription">
  </app-empty>
} @else {
  <app-scrolling>
    <div class="grid">
      @for (sprint of listSprint; track $index) {
        <div class="col-12 select-none">
          <sprint-item 
            [sprintData]="sprint">
          </sprint-item>
        </div>
      }
    </div>
  </app-scrolling>
}