
::ng-deep .c-datatable-1 {
  font-size: 12pt;
  width: 100%;
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }
  
  th,td {
    margin: 0;
    padding: 4px;
  }
  
  tr.gridlines-x {
    border-bottom: 1px solid black;
    th, td {
      border-top: 1px solid black;
    }
  }
  
  tr.gridlines-y {
    th, td {
      border-right: 1px solid black;
    }
  }
}

@page a4-standard { 
  size: A4; 
  margin: 2cm 2cm 2cm 3cm;
}

.a4-standard {
  line-height: 1rem;
  page: a4-standard;
  @media screen {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm 2cm 2cm 3cm;
  }
}

@page a4-table { 
  size: A4; 
  margin: 0.5cm;
}

.a4-table {
  line-height: 1rem;
  page: a4-table;
  @media screen {
    width: 21cm;
    min-height: 29.7cm;
    padding: 0.5cm;
  }
}


@page a4-report { 
  size: A4 landscape; 
  margin: 1cm;
}

.a4-report {
  line-height: 1rem;
  page: a4-report;
  @media screen {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
  }
}


@page a4-table-5 { 
  size: A4; 
  margin: 1cm;
}

.a4-table-5 {
  line-height: 1rem;
  page: a4-table-5;
  @media screen {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
  }
}


@page a4-table-6 { 
  size: A4 landscape;
  margin: 1cm;
}

.a4-table-6 {
  line-height: 1rem;
  page: a4-table-6;
  @media screen {
    width: 29.7cm;
    min-height: 21cm;
    padding: 1cm;
  }
}

// For C2 Template
@page c2-standard {
  size: A4 portrait;
  margin: 1.5cm;
}

.c2-standard {
  line-height: 1.25rem;
  page: c2-standard;

  @media screen {
      width: 21cm;
      height: 29.7cm;
      padding: 1.5cm;
  }
}

@page c2-tax {
  size: A4 portrait;
}

.c2-tax {
  page: c2-tax;
  @media screen {
      width: 21cm;
      height: 29.7cm;
  }
}

@page c2-tax-landscape {
  size: A4 landscape;
  font-family: 'THSarabunNew';
  margin: 1cm;
}

.c2-tax-landscape {
  page: c2-tax-landscape;

  @media screen {
      height: 21cm;
      width: 29.7cm;
      padding: 1cm;
  }
}