<section class="flex flex-column w-full">
  <div class="flex w-full mb-4">
    <span class="w-4rem h-4rem border-circle flex justify-content-center align-items-center bg-blue-100">
      <i class="pi pi-users text-blue-700 text-4xl"></i>
    </span>
    <div class="flex flex-column ml-3">
      <div class="font-semibold text-xl text-900"> {{ 'MEMBER_INVITE_TITLE' | translate }} </div>
      <div class="text-base text-500 mb-3"> {{ 'MEMBER_INVITE_DESCRIPTION' | translate }} </div>
    </div>
  </div>
  <input type="text" pInputText class="w-full">
</section>