<app-header 
  [title]="title" 
  [subtitle]="subtitle">
  <!-- <app-dialog 
    [icon]="'pi pi-plus'"
    [width]="'40vw'"
    [label]="'MEMBER_BUTTON_INVITE'"
    [header]="'MEMBER_BUTTON_INVITE'"
    [submitLabel]="'BUTTON_INVITE'"
    (onSubmitEvent)="onValidateForm()">
    <project-member-invite>
    </project-member-invite>
  </app-dialog> -->
</app-header>
<div *ngIf="isShowToolbar">
  <app-filter
    [showGroupList]="false"
    (onSearchEvent)="onSearch($event)"
    (setSortValueEvent)="setSortValue($event)">
  </app-filter>
</div>

<app-scrolling 
  [isShowToolbar]="isShowToolbar">
  <project-member-item>
  </project-member-item>
</app-scrolling>