<div class="content-height-with-padding w-full surface-section border-1 surface-border border-round shadow-1 p-3">
  @switch (currentTabIndex) {
    @case (0) {
      <project-dashboard>
      </project-dashboard>
    }
    @case (1) {
      @if (sprintTaskDetailState()) {
        <project-sprint-task-detail
          [sprintId]="sprintID"
          [taskID]="taskID">
        </project-sprint-task-detail>
      }

      @if (!sprintDetailState() && !sprintTaskDetailState()) {
        <project-sprint>
        </project-sprint>
      } @else {
        <project-sprint-detail
          [sprintID]="sprintID">
        </project-sprint-detail>
      }
    }
    @case (2) {
      @if (!backlogDetailState()) {
        <project-backlog>
        </project-backlog>
      } @else {
        <project-backlog-task
          [taskID]="taskID">
        </project-backlog-task>
      }
    }
    @case (3) {
      @if (!ganttDetailState()) {
        <project-gantt>
        </project-gantt>
      } @else {
        <project-gantt-task
          [taskID]="taskID">
        </project-gantt-task>
      }
    }
    @case (4) {
      <project-board>
      </project-board>
    }
    @case (5) {
      @if (!taskDetailState()) {
        <project-task>
        </project-task>
      } @else {
        <project-task-detail
          [taskID]="taskID">
        </project-task-detail>
      }
    }
    @case (6) {
      <project-resource>
      </project-resource>
    }
    @case (7) {
      <project-member>
      </project-member>
    }
    @case (8) {
      <project-setting>
      </project-setting>
    }
  }
</div>