<div class="content-height-with-padding w-full surface-section border-1 surface-border border-round shadow-1 p-3">
  @switch (currentTabIndex()) {
    @case (0) {
      <project-dashboard>
      </project-dashboard>
    }
    @case (1) {
      @if (!sprintDetailState()) {
        <project-sprint>
        </project-sprint>
      } @else {
        <project-sprint-detail>
        </project-sprint-detail>
      }
    }
    @case (2) {
      <project-backlog>
      </project-backlog>
    }
    @case (3) {
      <project-gantt>
      </project-gantt>
    }
    @case (4) {
      <project-board>
      </project-board>
    }
    @case (5) {
      @if (!sprintDetailState()) {
        <project-task>
        </project-task>
      } @else {
        <!-- <project-task-detail>
        </project-task-detail> -->
      }
    }
    @case (6) {
      <project-resource>
      </project-resource>
    }
    @case (7) {
      <project-member>
      </project-member>
    }
    @case (8) {
      <project-setting>
      </project-setting>
    }
  }
</div>