<app-header 
  [title]="title" 
  [subtitle]="subtitle">
</app-header>

<div class="p-4 responsive-gantt">
  <ngx-gantt #gantt 
    [items]="items" 
    [baselineItems]="baselineItems"
    [viewType]="viewType"
    [draggable]="true"
    [linkable]="true"
    [selectable]="true"
    [multiple]="true"
    [showToolbar]="false"
    [toolbarOptions]="toolbarOptions"
    [loading]="loading"
    [virtualScrollEnabled]="false"
    (viewChange)="viewChange($event)"
    (dragEnded)="dragEnded($event)"
    (barClick)="barClick($event)"
    (selectedChange)="selectedChange($event)"
    (linkDragEnded)="linkDragEnded($event)">
    <ngx-gantt-table
      [draggable]="true"
      (itemClick)="itemClick($event)"
      [dropEnterPredicate]="dropEnterPredicate"
      (dragDropped)="onDragDropped($event)"
      (dragStarted)="onDragStarted($event)"
      (dragEnded)="onDragEnded($event)">

      <ngx-gantt-column name="Task/Issue" width="240px">
        <ng-template #cell let-item="item"> {{ item.task_name }} </ng-template>
      </ngx-gantt-column>

      <ngx-gantt-column name="Start Date" width="120px">
        <ng-template #cell let-item="item"> {{ (item.start) ? (getDate(item.start) | date:'dd MMM yyyy') : '-'}} </ng-template>
      </ngx-gantt-column>

      <ngx-gantt-column name="End Date" width="120px">
        <ng-template #cell let-item="item"> {{ (item.end) ? (getDate(item.end) | date:'dd MMM yyyy') : '-'}} </ng-template>
      </ngx-gantt-column>
    </ngx-gantt-table>

    <ng-template #tableEmpty let-item="item">
      <app-empty
        [icon]="'pi pi-list-check'"
        [title]="emptyTaskTitle" 
        [description]="emptyTaskDescription">
      </app-empty>
    </ng-template>

    <ng-template #bar let-item="item">
      <span class="pl-3" style="color: #fff">{{ item.task_name }} </span>
    </ng-template>
  </ngx-gantt>
</div>