<div class="border-bottom-1 surface-border">
  <div class="flex justify-content-between align-items-center">
    <div class="flex flex-column">
      <div class="font-medium text-lg text-900"> General Project Information </div>
      <div class="text-sm text-500 mb-3">  Display general information of project. </div>
    </div>
    <app-dialog 
      [icon]="'pi pi-file-edit'"
      [width]="'60vw'"
      [label]="'BUTTON_EDIT'"
      [header]="'BUTTON_EDIT'"
      [buttonStyleClass]="'p-button-secondary'"
      [showFooter]="false">
    </app-dialog>
  </div>
</div>
<p-scrollpanel 
  [style]="{ width: '100%', height: 'var(--content-height-with-subheader)' }">

  <div class="mt-3 flex flex-column">
    <div class="flex w-full">
      <div class="flex flex-column">
        <p-image 
          width="250" 
          class="border-round"
          src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg" 
          [preview]="true" >
          <ng-template #indicator>
            <i class="pi pi-eye"></i>
          </ng-template>      
        </p-image>
        <p-fileupload 
          mode="basic" 
          name="demo[]" 
          [auto]="true" 
          chooseLabel="Change Image"
          chooseIcon="pi pi-image" 
          accept="image/*" maxFileSize="1000000" 
          url="https://www.primefaces.org/cdn/api/upload.php" 
          (onUpload)="onBasicUploadAuto($event)" />
      </div>
    </div>

    <div class="grid grid-nogutter border-top-1 surface-border mt-3">
      <div class="col-12 md:col-6 py-3">
        <div class="text-500 mb-1">Project Name</div>
        <div class="text-900">Prime Project</div>
      </div>
      <div class="col-12 md:col-6 py-3">
        <div class="text-500 mb-1">Project Type</div>
        <div class="text-900">Scrum Project</div>
      </div>
      <div class="col-12 md:col-6 py-3">
        <div class="text-500 mb-1">Project Owner</div>
        <div class="text-900">Nathaphon Ditthaviboon</div>
      </div>
      <div class="col-12 md:col-6 py-3">
        <div class="text-500 mb-1">Create Date</div>
        <div class="text-900">21 January 2025</div>
      </div>
    </div>
  </div>
</p-scrollpanel>