<app-header [title]="title" [subtitle]="subtitle">
  <div class="flex">
    <button pButton
      icon="pi pi-sliders-h"
      class="mr-2 p-button-text p-button-secondary border-round-xl"
      [ngClass]="{'text-blue-400 bg-blue-50': isShowToolbar}"
      (click)="isShowToolbar = !isShowToolbar">
    </button>
  </div>
</app-header>
<div *ngIf="isShowToolbar">
  <app-filter
    (onSearchEvent)="onSearch($event)"
    (setGroupValueEvent)="setGroupValue($event)"
    (setSortValueEvent)="setSortValue($event)">
  </app-filter>
</div>


@if (!listUser.length) {
  <app-empty 
    [icon]="'pi pi-users'" 
    [title]="emptyTitle" 
    [description]="emptyDescription">
  </app-empty>
} @else {
  <app-scrolling
    [isShowToolbar]="isShowToolbar">
    <app-table
      [selectionMode]="''"
      [listItem]="listUser"
      [listColumns]="listColumn"
      [isShowToolbar]="isShowToolbar"
      (onClickItemEvent)="onClickItem($event)">
      <ng-template appTableField="email" let-item>
        <span [ngClass]="{'text-red-500' : item.is_disable}">{{ item.email }}</span>
      </ng-template>
      <ng-template appTableField="name" let-item>
        <span [ngClass]="{'text-red-500' : item.is_disable}">{{ item.name }}</span>
      </ng-template>
      <ng-template appTableField="role" let-item>
        <member-role-tag [role]="item.role">
        </member-role-tag>
      </ng-template>
    </app-table>
    <member-detail-dialog
      (onReloadUser)="onReloadUser($event)">
    </member-detail-dialog>
  </app-scrolling>
}