<div class="border-bottom-1 surface-border">
  <div class="flex justify-content-between align-items-center">
    <div class="flex flex-column">
      <div class="font-medium text-lg text-900">
        {{ 'project.setting.privacy.title' | translate }}   
      </div>
      <div class="text-sm text-500 mb-3">
        {{ 'project.setting.privacy.description' | translate }}   
      </div>
    </div>
  </div>
</div>

<div class="mt-3">
  <div class="flex justify-content-between align-items-center">
    <div class="flex flex-column">
      <div class="font-medium text-lg text-900">
        {{ 'project.setting.privacy.archive' | translate }}   
      </div>
      <div class="text-sm text-500 ">
        {{ 'project.setting.privacy.archiveDescription' | translate }}   
      </div>
    </div>
    <div class="flex align-items-center">
      @if (!projectData?.is_disable) {
          <button 
          icon="pi pi-bookmark"
          [label]="'project.setting.privacy.archive' | translate"
          class="p-button-warn p-button-sm p-button-outlined w-12rem"
          (click)="onConfirmArchive()"
          pButton>
        </button>
      } @else {
        <button 
          icon="pi pi-bookmark"
          [label]="'project.setting.privacy.unarchive' | translate"
          class="p-button-secondary p-button-sm p-button-outlined w-12rem"
          (click)="onConfirmUnArchive()"
          pButton>
        </button>
      }
    </div>
  </div>

  <p-divider></p-divider>

  <div class="flex justify-content-between align-items-center">
    <div class="flex flex-column">
      <div class="font-medium text-lg text-900">
        {{ 'project.setting.privacy.delete' | translate }}   
      </div>
      <div class="text-sm text-500">
        {{ 'project.setting.privacy.deleteDescription' | translate }}   
      </div>
    </div>
    <div class="flex align-items-center">
      <button 
        icon="pi pi-trash"
        [label]="'project.setting.privacy.delete' | translate"
        class="p-button-danger p-button-sm p-button-outlined w-12rem"
        (click)="onConfirmDelete()"
        pButton>
      </button>
    </div>
  </div>
</div>