<p-drawer 
  [(visible)]="visible" 
  position="right" 
  modal="true" 
  appendTo="body"
  styleClass="w-30rem">
  <ng-template pTemplate="header">
    <span class="font-bold">
      {{ 'project.member.header' | translate }}
    </span>
  </ng-template>
  
  <div class="flex flex-column h-full ">
    <div class="text-center mb-4" style="position: sticky; top: 0; z-index: 1; background: white;">
      <p-avatar 
        [shape]="'circle'"
        [label]="memberData?.name[0]"
        class="text-3xl"
        [style]="{ height: '8rem', width: '8rem', 'background-color': '#dee9fc', color: 'gray', }"/>
      <div class="text-900 mt-3 mb-2 text-xl font-medium"> {{ memberData?.name }} </div>
      <span class="text-700"> {{ memberData?.email }} </span>
    </div>

    <div class="phantom-scrollbar flex-auto relative overflow-y-auto" style="max-height: calc(100vh - 12rem);">
      <ul class="list-none p-0 m-0 overflow-y-auto">
        <li class="surface-100 text-base font-medium py-3 px-2 border-round mt-4 mb-1">
          Task Overview
        </li>
          <ul class="list-none m-1 p-3 border-round shadow-1 mt-3">
            <li class="flex align-items-center justify-content-between" >
                <div class="flex align-items-center">
                  <span class="bg-blue-500 inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 surface-border">
                    <i class="pi pi-list text-white"></i>
                  </span>
                  <span class="ml-3">To Do</span>
                </div>
                <div class="flex align-items-center">
                  <span class="font-bold">{{ memberData?.todo_tasks }}</span>
                  <span class="text-sm ml-2"> Tasks </span>
                </div>
            </li>
          </ul>

          <ul class="list-none m-1 p-3 border-round shadow-1 mt-3">
            <li class="flex align-items-center justify-content-between" >
                <div class="flex align-items-center">
                  <span class="bg-orange-500 inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 surface-border">
                    <i class="pi pi-play text-white"></i>
                  </span>
                  <span class="ml-3">Doing</span>
                </div>
                <div class="flex align-items-center">
                  <span class="font-bold">{{ memberData?.doing_tasks }}</span>
                  <span class="text-sm ml-2"> Tasks </span>
                </div>
            </li>
          </ul>

          <ul class="list-none m-1 p-3 border-round shadow-1 mt-3">
            <li class="flex align-items-center justify-content-between" >
                <div class="flex align-items-center">
                  <span class="bg-green-500 inline-flex justify-content-center align-items-center w-2rem h-2rem border-circle border-1 surface-border">
                    <i class="pi pi-check text-white"></i>
                  </span>
                  <span class="ml-3">Done</span>
                </div>
                <div class="flex align-items-center">
                  <span class="font-bold">{{ memberData?.done_tasks }}</span>
                  <span class="text-sm ml-2"> Tasks </span>
                </div>
            </li>
          </ul>
      </ul>
    </div>

    <div class="flex gap-2 mt-3">
      @if (memberData?.id != projectData.owner_id) {
        <div class="w-full"> 
          <button pButton pRipple 
            type="button" 
            icon="pi pi-trash"
            label="Remove Member" 
            class="p-button-text p-button-danger w-full" 
            (click)="onConfirm(memberData)">
          </button>
        </div>
      }
    </div>
  </div>
</p-drawer>