.hover-primary {
    color: var(--surface-600);
}

.hover-primary:hover {
    color: var(--surface-900);
    background-color: var(--surface-100);
}

@media (min-width: 1024px) {
    .lg-hover-primary {
        color: white;
        background-color: var(--blue-500);
    }

    .lg-hover-primary:hover {
        color: white;
        background-color: var(--blue-600);
    }
}

.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-MJoBVe {
    color: var(--surface-600);
    background-color: red;
}