@if (auth.user()) {
  <div>
    <p-overlayPanel #menu appendTo="body" [style]="{ width: '350px' }">
      <c-user 
        [name]="auth.user()!.name"
        [pictureUrl]="auth.user()!.picture"
        [text]="auth.user()!.uid">
      </c-user>
      
      <p-divider></p-divider>
      
      <button type="button"
        (click)="signOut()"
        class="p-button-danger p-button-rounded p-button-text w-full"
        icon="pi pi-sign-out"
        label="ออกจากระบบ"
        pButton>
      </button>
      
    </p-overlayPanel>
    
    <div (click)="menu.toggle($event)" class="user">
      <c-user 
        [name]="auth.user()!.name"
        [pictureUrl]="auth.user()!.picture"
        [text]="auth.user()!.uid">
      </c-user>
    </div>
    
  </div>
}