
<div class="px-3">
  <div class="flex justify-content-between align-items-center">
    <div class="flex">
      @if (showGroupList()) {
        <button pButton
          icon="pi pi-th-large"
          [label]="groupValue.value !== 'NONE' ? (groupValue.label | translate)  : ('APP_BUTTON_GROUP' | translate)"
          [ngClass]="{'bg-blue-400 text-white border-round-lg' : groupValue.value !== 'NONE' }"
          class="mr-2 p-button-secondary p-button-sm border-round-lg"
          (click)="groupMenu.toggle($event)">
        </button>
      }
      @if (showSortList()) {
        <button pButton
          icon="pi pi-sort-alt"
          [label]="'APP_BUTTON_SORT' | translate"
          [ngClass]="{'bg-blue-400 text-white border-round-lg' : sortValue.value !== 'NONE' }"
          class="p-button-secondary p-button-sm border-round-lg"
          (click)="sortMenu.toggle($event)">
        </button>
      }
    </div>
    <div class="flex">
      <input pInputText
        type="text"
        [placeholder]="'APP_BUTTON_SEARCH' | translate"
        [(ngModel)]="searchValue"
        (keyup.enter)="onSearch()"
        class="mr-2 border-round w-20rem" />
      <button pButton
        icon="pi pi-search"
        [label]="'APP_BUTTON_SEARCH' | translate"
        class="border-round-lg w-7rem"
        (click)="onSearch()">
      </button>
    </div>
  </div>
  <p-divider class="mb-3 pb-0"></p-divider>
</div>

<p-menu #groupMenu  [model]="groupItems" [popup]="true" class="flex justify-center">
  <ng-template #item let-item>
    <a pRipple 
      class="flex items-center p-menu-item-link" 
      [ngClass]="{' bg-blue-400 text-white border-round' : groupValue.value === item.value }"
      (click)="setGroupValue(item)">
      <span>{{ item.label | translate }}</span>
    </a>
  </ng-template>
</p-menu>

<p-tieredmenu #sortMenu [model]="sortItems" [popup]="true" >
  <ng-template #item let-item let-hasSubmenu="hasSubmenu">
    <a pRipple 
      class="flex items-center p-tieredmenu-item-link" 
      [ngClass]="{' bg-blue-400 text-white border-round' : sortValue.value === item.value }"
      (click)="setSortValue(item)">
      <span> {{ item.label | translate }} </span>
      <i *ngIf="hasSubmenu" class="pi pi-angle-right ml-auto"></i>
    </a>
  </ng-template>
</p-tieredmenu>
