<app-header
  [title]="title"
  [subtitle]="subtitle">
</app-header>
<div class="grid px-2">
  <div class="col border-1 surface-border border-round px-3 content-height-with-header overflow-hidden">
    <div class="flex align-items-center justify-content-between">
      <div class="flex flex-column">
        <div class="text-xl font-medium text-900 select-none">{{ labelSprint | translate }}</div>
        <div *ngIf="subtitle" class="text-xs text-500 select-none">{{ labelSprintDescription | translate }}</div>
      </div>
      <app-dialog #dialogSprint
        [icon]="'pi pi-plus'"
        [width]="'60vw'"
        [buttonStyleClass]="'p-button-secondary p-button-outlined'"
        [label]="labelSprintButton"
        [header]="labelSprintHeader"
        (onCancelEvent)="onCancelFormSprint()"
        (onSubmitEvent)="onValidateFormSprint()">
          <form-sprint>
          </form-sprint>
      </app-dialog>
    </div>
    <p-divider styleClass="mb-3"></p-divider>

    @if (!listSprint.length) {
      <app-empty 
        [isShowToolbar]="true"
        [icon]="'pi pi-sync'" 
        [title]="emptySprintTitle"
        [height]="'var(--content-height-with-backlog)'"
        [description]="emptySprintDescription">
      </app-empty>
    } @else {
      <p-scrollpanel [style]="{ width: '100%', height: 'var(--content-height-with-subheader)'}">
        <div *ngFor="let sprint of listSprint; let index = index" 
          class="mb-3">
          <p-panel 
            [collapsed]="true" 
            [toggleable]="true" 
            [collapseIcon]="'pi pi-chevron-down'" 
            [expandIcon]="'pi pi-chevron-up'"
            dndDropzone 
            (dndDrop)="onDropToSprint($event, sprint)" 
            dndEffectAllowed="move">

            <ng-template #header> 
              <div class="flex align-items-center">
                <span class="font-semibold">
                  {{ sprint.sprint_name }} 
                </span>
                <span class="ml-2">
                  @switch (sprint.status) {
                    @case(SprintStatus.UPCOMING) {
                      <p-tag severity="secondary" [value]="'detail.sprint.tag.upcoming' | translate" />
    
                    }
                    @case(SprintStatus.ACTIVE) {
                      <p-tag severity="success"  [value]="'detail.sprint.tag.active' | translate" />
                    }
                    @case(SprintStatus.CLOSED) {
                      <p-tag severity="contrast" [value]="'detail.sprint.tag.closed' | translate" />
                    }
                  }
                </span>
            </div>
            </ng-template>

            <ng-template #content>
              <p-divider></p-divider>
              <div class="w-full flex flex-column">
                <div class="text-700 text-base">
                  <div class="flex justify-content-between">
                    <div>
                      <span class="font-semibold"> ระยะเวลา </span>
                      <span> {{ sprint.start_date | date: 'dd/MM/yyyy' }} </span>
                      <span> - </span>
                      <span> {{ sprint.end_date | date: 'dd/MM/yyyy' }} </span>
                    </div>
                    <span class="text-base font-semibold text-700"> 
                      ({{ sprint.sprint_duration }} {{ 'app.timeLabel.day' | translate}}) 
                    </span>
                  </div>
                </div>

                <p-divider></p-divider>
                <div class="flex justify-content-between">
                  <span class="text-base font-semibold text-700"> งานที่มีอยู่ในสปรินท์ </span>
                  <span class="text-base font-semibold text-700"> {{ sprint.total_tasks }} งาน </span>
                </div>

                <p-divider></p-divider>
                <div class="w-full">
                  <div class="mb-1 text-base">
                    <span class="font-semibold text-700"> ความคืบหน้าของสปรินท์ </span>
                    <span class="font-semibold text-700"> {{ getSprintProgress(sprint) }}% </span>
                  </div>
                  <p-progressbar [value]="getSprintProgress(sprint)" />
                </div>
              </div>
            </ng-template>
          </p-panel>
        </div>
      </p-scrollpanel>
    }
  </div>

  <p-divider layout="vertical" class="mt-2"></p-divider>

  <div class="col border-1 surface-border border-round px-3">
    <div class="flex align-items-center justify-content-between">
      <div class="flex flex-column">
        <div class="text-xl font-medium text-900 select-none">{{ labelTask | translate }}</div>
        <div *ngIf="subtitle" class="text-xs text-500 select-none">{{ labelTaskDescription | translate }}</div>
      </div>
      <app-dialog #dialogTask
        [icon]="'pi pi-file-plus'"
        [width]="'60vw'"
        [buttonStyleClass]="'p-button-secondary p-button-outlined'"
        [label]="labelTaskButton"
        [header]="labelTaskHeader"
        [showFooter]="true"
        (onCancelEvent)="onCancelFormTask()"
        (onSubmitEvent)="onValidateFormTask()">
          <form-task>
          </form-task>
      </app-dialog>
    </div>
    <p-divider styleClass="mb-3"></p-divider>

    @if (!listTask.length) {
      <app-empty 
        [isShowToolbar]="true"
        [icon]="'pi pi-list-check'" 
        [title]="emptyTaskTitle" 
        [height]="'var(--content-height-with-backlog)'"
        [description]="emptyTaskDescription">
      </app-empty>
    } @else {
      <p-scrollpanel 
        [style]="{ width: '100%', height: 'var(--content-height-with-subheader)'}">
        <div dndDropzone
          (dndDrop)="onDropTask($event)"
          dndEffectAllowed="move">
        
        <div dndPlaceholderRef
          class="border-1 surface-border border-round p-3 bg-gray-50 mb-2 text-gray-50">
          Drag
        </div>
        
        <div *ngFor="let task of listTask;" 
          class="border-1 surface-border border-round p-3 mb-2"
          [dndDraggable]="task"
          [dndEffectAllowed]="'move'"
          (dndMoved)="onDraggedTask(task)">
            {{ task.task_name }}
          </div>
        </div>
      </p-scrollpanel>
    }
  </div>
</div>