<app-header
  [title]="title"
  [subtitle]="subtitle">
</app-header>
<div class="grid px-2">
  <div class="col border-1 surface-border border-round px-3 content-height-with-header overflow-hidden">
    <div class="flex align-items-center justify-content-between">
      <div class="flex flex-column">
        <div class="text-xl font-medium text-900 select-none">{{ labelSprint | translate }}</div>
        <div *ngIf="subtitle" class="text-xs text-500 select-none">{{ labelSprintDescription | translate }}</div>
      </div>
    </div>
    <p-divider styleClass="mb-3"></p-divider>

    @if (!listSprint.length) {
      <app-empty 
        [isShowToolbar]="true"
        [icon]="'pi pi-sync'" 
        [title]="emptySprintTitle" 
        [description]="emptySprintDescription">
      </app-empty>
    } @else {
      <p-scrollpanel [style]="{ width: '100%', height: 'var(--content-height-with-subheader)'}">
        <div *ngFor="let sprint of listSprint; let index = index" 
          class="mb-2">
          <p-panel 
            [collapsed]="true" 
            [toggleable]="true" 
            [collapseIcon]="'pi pi-chevron-down'" 
            [expandIcon]="'pi pi-chevron-up'"
            dndDropzone 
            (dndDrop)="onDropToSprint($event, sprint, index)" 
            dndEffectAllowed="move">

            <ng-template #header> 
              {{ sprint.sprint_name }} 
            </ng-template>
          </p-panel>
        </div>
      </p-scrollpanel>
    }
  </div>

  <p-divider layout="vertical" class="mt-2"></p-divider>

  <div class="col border-1 surface-border border-round px-3">
    <div class="flex align-items-center justify-content-between">
      <div class="flex flex-column">
        <div class="text-xl font-medium text-900 select-none">{{ labelTask | translate }}</div>
        <div *ngIf="subtitle" class="text-xs text-500 select-none">{{ labelTaskDescription | translate }}</div>
      </div>
    </div>
    <p-divider styleClass="mb-3"></p-divider>

    @if (!listTask.length) {
      <app-empty 
        [isShowToolbar]="true"
        [icon]="'pi pi-list-check'" 
        [title]="emptyTaskTitle" 
        [description]="emptyTaskDescription">
      </app-empty>
    } @else {
      <p-scrollpanel 
        [style]="{ width: '100%', height: 'var(--content-height-with-subheader)'}">
        <div dndDropzone
          (dndDrop)="onDropTask($event)"
          dndEffectAllowed="move">
        
        <div dndPlaceholderRef
          class="border-1 surface-border border-round p-3 bg-gray-50 mb-2 text-gray-50">
          Drag
        </div>
        
        <div *ngFor="let task of listTask;" 
          class="border-1 surface-border border-round p-3 mb-2"
          [dndDraggable]="task"
          [dndEffectAllowed]="'move'"
          (dndMoved)="onDraggedTask(task)">
            {{ task.task_name }}
          </div>
        </div>
      </p-scrollpanel>
    }
  </div>
</div>