<div class="border-round shadow-1 p-3">
  <div class="mt-2">
    {{ 'DASHBOARD_PROJECT_INFO' | translate }}

  </div>
  <p-divider></p-divider>
  <div class="px-3">
    <div class="mb-5">
      <div class="flex">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-user" [style]="{ 'background-color': '#3b82f6', color: '#fff' }" shape="circle" />
        </div>
        <div class="flex justify-content-between ml-2 w-full">
          <div class="flex flex-column">
            <span>Natthaphon D. Best</span>
            <span class="text-sm">Project Owner</span>
          </div>
          <div>
            <p-avatarGroup class="flex align-items-center"
              [pTooltip]="'Natthaphon D. Best' + '\n'  + 'Phuriq' + '\n' + 'and 1 others'">
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                shape="circle" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" shape="circle" />
            </p-avatarGroup>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-5">
      <div class="flex">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-flag" [style]="{ 'background-color': '#3b82f6', color: '#fff' }" shape="circle" />
        </div>
        <div class="flex flex-column ml-2">
          <span>Sprint 1</span>
          <span class="text-sm">Current sprint</span>
        </div>
      </div>
    </div>

    <div class="grid  mb-3">
      <div class="col-4">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-list" styleClass="mr-2" [style]="{ 'background-color': '#3b82f6', color: '#fff' }"
            shape="circle" />
          <div class="flex flex-column">
            <span>10 Tasks</span>
            <span class="text-sm">To Do</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-step-forward-alt" styleClass="mr-2"
            [style]="{ 'background-color': '#eab308', color: '#fff' }" shape="circle" />
          <div class="flex flex-column">
            <span>10 Tasks</span>
            <span class="text-sm">In progress</span>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="flex align-items-center">
          <p-avatar icon="pi pi-check" styleClass="mr-2" [style]="{ 'background-color': '#22c55e', color: '#fff' }"
            shape="circle" />
          <div class="flex flex-column">
            <span>10 Tasks</span>
            <span class="text-sm">Done</span>
          </div>
        </div>
      </div>
    </div>

    <div class="flex">
      <div class="flex align-items-center">
        <p-avatar icon="pi pi-hourglass" [style]="{ 'background-color': '#3b82f6', color: '#fff' }" shape="circle" />
      </div>
      <div class="ml-2 w-full">
        <p-progressBar [value]="50" />
        <div class="text-sm mt-1">
          <span>Project progress</span>
          <span> 50%</span> Completed
        </div>
      </div>
    </div>
  </div>
</div>