<div class="flex flex-column">
  <div class="flex flex-column">
    <div class="text-sm text-500"> Sprint Name </div>
    <div class="font-medium text-lg text-900"> {{ sprintData?.sprint_name }} </div>
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column">
    <div class="text-sm text-500"> Sprint Description </div>
    <div class="font-medium text-lg text-900"> {{ sprintData?.sprint_description || "ไม่มีคำอธิบาย" }} </div>
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column">
    <div class="text-sm text-500"> Start Date </div>
    <div class="font-medium text-lg text-900"> {{ sprintData?.start_date | date:'dd/MM/yyyy' }} </div>
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column">
    <div class="text-sm text-500"> End Date </div>
    <div class="font-medium text-lg text-900"> {{ sprintData?.end_date | date:'dd/MM/yyyy'}} </div>
  </div>
  <p-divider></p-divider>
  <div class="flex flex-column">
    <div class="text-sm text-500"> Duration </div>
    <div class="font-medium text-lg text-900"> {{ sprintData?.sprint_duration }}  {{ 'app.timeLabel.day' | translate }}</div>
  </div>
</div>