<div class="surface-overlay" style="max-width: 1000px;">
  <div class="grid">
    <div class="col-8 col-offset-2 text-center text-center mb-4">
      <div class="text-900 text-5xl font-bold mb-3"> {{ title | translate }} </div>
      <p class="text-lg m-0"> {{ description | translate }} </p>
    </div>
    <div class="col-8 col-offset-2 text-center">
      <div class="grid">
        @for (item of listProjectContributes; track $index) {
        <div class="col-12 md:col-6">
          <div class="border-round shadow-1 surface-border p-3">
            <img [src]="item.imageURL" class="border-round-sm mb-2 w-full" />
            <div class="font-medium text-xl mb-1 text-900"> {{ item.full_name| translate }} </div>
            <span class="text-700 font-medium"> {{ item.position| translate }} </span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>