<app-form 
  [listForm]="listForm" 
  [formGroup]="formGroup">
</app-form>

<div class="mb-2" [formGroup]="formContent">
  <p-editor [style]="{ height: '320px' }"
    formControlName="content">
    <ng-template pTemplate="header">
      <span class="ql-formats">
        <select class="ql-header"></select>
        <select class="ql-size"></select>
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
        <select class="ql-color"></select>
        <select class="ql-background"></select>
        <button class="ql-clean mr-4"></button>

        <button class="ql-align" value=""></button>
        <button class="ql-align" value="center"></button>
        <button class="ql-align" value="right"></button>
        <button class="ql-indent" value="+1"></button>
        <button class="ql-indent mr-4" value="-1"></button>

        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-list mr-4" value="check"></button>

        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
      </span>
    </ng-template>
  </p-editor>
</div>