<app-header 
  [title]="title" 
  [subtitle]="subtitle">
</app-header>

<p-scrollpanel 
  [style]="{ width: '100%', height: 'var(--content-height-with-header)'}">
  <div class="grid padding-custom">
    <div class="col-12 xl:col-6">
      <div class="flex flex-column gap-3">
        <project-info 
          [projectData]="projectData">
        </project-info>

        <project-priority-overview>
        </project-priority-overview>

        <project-task-overview>
        </project-task-overview>
      </div>
    </div>
    
    <div class="col-12 xl:col-6">
      <project-activity>
      </project-activity>
    </div>

    <div class="col-12">
      <project-task-list>
      </project-task-list>
    </div>
  </div>
</p-scrollpanel>