<app-header 
  [title]="title" 
  [subtitle]="subtitle">
  <div class="flex">
    <button pButton
      icon="pi pi-sliders-h"
      class="mr-2 p-button-text p-button-secondary border-round-xl"
      [ngClass]="{'text-blue-400 bg-blue-50': isShowToolbar}"
      (click)="isShowToolbar = !isShowToolbar">
    </button>
    @if (!projectData.is_disable) {
      <app-dialog 
        [icon]="'pi pi-file-plus'"
        [width]="'60vw'"
        [label]="labelCreate"
        [header]="labelHeader"
        [showFooter]="true"
        (onCancelEvent)="onCancelForm()"
        (onSubmitEvent)="onValidateForm()">
          <form-task>
          </form-task>
      </app-dialog>
    }
  </div>
</app-header>
<div *ngIf="isShowToolbar">
  <app-filter
    [showGroupList]="false"
    [groupByType]="true"
    [groupByPrioirity]="true"
    [groupByStatus]="true"
    (onSearchEvent)="onSearch($event)"
    (setSortValueEvent)="setSortValue($event)">
  </app-filter>
</div>

@if (!listTask.length) {
  <app-empty 
    [icon]="'pi pi-list-check'" 
    [title]="emptyTitle" 
    [description]="emptyDescription">
  </app-empty>
} @else {
  <app-table 
    [selectionMode]="''"
    [listItem]="listTask"
    [listColumns]="listColumns"
    [isShowToolbar]="isShowToolbar"
    (onClickItemEvent)="onClickItem($event)">

    <ng-template appTableField="task_type" let-item>
      <tag-type 
        [type]="item.task_type">
      </tag-type>
    </ng-template>

    <ng-template appTableField="task_priority" let-item>
      <tag-priority 
        [priority]="item.task_priority">
      </tag-priority>
    </ng-template>

    <ng-template appTableField="assignee_name" let-item>
      @if (item.assignee_name) {
        <div class="flex align-items-center">
          <p-avatar  
            styleClass="mr-2" 
            [image]="item.assignee_image"
            shape="circle" />
        <span>
          {{ item.assignee_name }}
        </span> 
      </div>
      } @else {
        -
      }
    </ng-template>

    <ng-template appTableField="status" let-item>
      <tag-status 
        [status]="item.status">
      </tag-status>
    </ng-template>
  </app-table>
}