<div class="border-bottom-1 surface-border">
  <div class="flex justify-content-between align-items-center">
    <div class="flex flex-column">
      <div class="font-medium text-lg text-900"> Customer Information </div>
      <div class="text-sm text-500 mb-3"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <app-dialog 
      [icon]="'pi pi-file-edit'"
      [width]="'60vw'"
      [label]="'BUTTON_EDIT'"
      [header]="'SETTING_CUSTOMER_HEADER'"
      [submitLabel]="'BUTTON_SAVE'"
      [buttonStyleClass]="'p-button-secondary'"
      (onSubmitEvent)="onValidateForm()">
        <customer-form>
        </customer-form>
    </app-dialog>
  </div>
</div>
<p-scrollpanel 
  [style]="{ width: '100%', height: 'var(--content-height-with-subheader)' }">
  <div class="grid grid-nogutter ">
    <div class="col-12 md:col-6 py-3">
      <div class="text-500 mb-2">Name</div>
      <div class="text-900"> {{ customerData?.customer_name || 'ไม่มีข้อมูล' }} </div>
    </div>
    <div class="col-12 md:col-6 py-3">
      <div class="text-500 mb-2">Email</div>
      <div class="text-900">
        @if (customerData?.customer_email) {
          <a href="mailto:{{ customerData?.customer_email }}" class="text-900"> {{ customerData?.customer_email || '-' }}</a>
        } @else {
          <div> {{ customerData?.customer_email || 'ไม่มีข้อมูล' }} </div>
        }
      </div>
    </div>
    <div class="col-12 md:col-6 py-3">
      <div class="text-500 mb-2">Phone Number</div>
      <div class="text-900">
          {{ customerData?.customer_phone || 'ไม่มีข้อมูล' }}
      </div>
    </div>
    <div class="col-12 md:col-6 py-3">
      <div class="text-500 mb-2">Employment Duration </div>
      <div class="text-900">
        @if (customerData?.employ_start_date && customerData?.employ_end_date) {
          {{ customerData?.employ_start_date | date: 'dd/MM/yyyy' }} - {{ customerData?.employ_end_date | date: 'dd/MM/yyyy' }}
        } @else {
          <div> ไม่มีข้อมูล </div>
        }
      </div>
    </div>
    <div class="col-12 py-3">
      <div class="text-500 mb-2">Address</div>
      <div class="text-900 line-height-3">
        {{ customerData?.customer_address || 'ไม่มีข้อมูล' }}
      </div>
    </div>
  </div>
</p-scrollpanel>