@import '../../styles/variables';

.app-bar {
  margin-right: 0.5rem;
  width: $toolbar-height;
  height: $toolbar-height;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  
  &:hover {
    background-color: var(--primary-800);
    color: var(--primary-50);
  }
}